* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Inter", sans-serif;
}

.userContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 100px;
}

.userImg{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.userName {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 10px;
}
.userLogin {
    display: block;
    font-size: 18px;
    line-height: 22px;
    color: #0064eb;
    text-decoration: none;
}
.followersContainer {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.personIcon{
    margin-right: 16px;
}
  
  @media screen and (max-width: 834px) {
    .userContainer {
      flex-direction: column;
      padding-right: 0;
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    .user {
      padding: 20px 20px 10px 20px;
    }
  }
  